body {
    color: white;
}

h1 {
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

section {
    text-align: center;
    font-size: 1.2rem;
}

section:nth-child(odd) {
    background-color: hsl(168deg 76% 42%);
}

section:nth-child(even) {
    color: #333;
}

/* STAR LINE */

.ms_star {
    vertical-align: middle;
    font-size: 2rem;
}

.ms_line {
    height: 4px;
    width: 15%;
    display: inline-block;
}

.ms_line.ms_line-white {
    background-color: white;
}

.ms_line.ms_line-black {
    background-color: #333;
}

/* HEADER  */

header {
    height: 100px;
    background-color: hsl(210deg 29% 24%);
}

header .row {
    height: 100px;
}

a {
    text-decoration: none;
    color: inherit;
}

header nav ul li {
    margin: 0 10px;
    font-weight: bolder;
}

header .ms_burger-menu {
    color: gray;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 5px;
}

/* SECTION PROFILO  */

#profilo img {
    width: 200px;
}

/* SECTION PORTFOLIO  */

#portfolio img {
    max-width: 100%;
}

/* SECTION ABOUT  */

button.button-download {
    border: 1px solid white;
    font-weight: 600;
    margin-top: 50px;
}

/* SECTION CONTACT  */

label {
    display: block;
    font-weight: 500;
}

input,
textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(202, 202, 202);
}

textarea {
    min-height: 150px;
}

button {
    background-color: hsl(168deg 76% 42%);
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    border-color: transparent;
}

/* FOOTER  */

footer {
    background-color: #3A546D;
}

#copyright {
    background-color: #2C3E50;
}

.ms_icon {
    font-size: 1.5rem;
    border: 1px solid white;
    padding: 15px;
    border-radius: 50%;
}