body {
    color: white;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

section {
    text-align: center;
}

/* HEADER  */

header {
    height: 100px;
    background-color: hsl(210deg 29% 24%);
}

header .row {
    height: 100px;
}

a {
    text-decoration: none;
    color: inherit;
}

header nav ul li {
    margin: 0 10px;
    font-weight: bolder;
}

header .ms_burger-menu {
    color: gray;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 5px;
}

/* SECTION PROFILO  */

#profilo {
    background-color: hsl(168deg 76% 42%);
    font-size: 1.2rem;
}

#profilo img {
    width: 200px;
}

#profilo h1 {
    font-weight: 700;
}

.star {
    vertical-align: middle;
    font-size: 2rem;
}

.line {
    height: 4px;
    width: 15%;
    display: inline-block;
}

#profilo .line {
    background-color: white;
}

/* SECTION PORTFOLIO  */

#portfolio {
    color: #333;
}

#portfolio .line {
    background-color: #333;
}

#portfolio img {
    max-width: 100%;
}

/* .box {
    min-height: 200px;
    background-color: salmon;
} */

/* SECTION ABOUT  */

#about {
    background-color: hsl(168deg 76% 42%);
    font-size: 1.2rem;
}

#about .line {
    background-color: white;
}

/* SECTION CONTACT  */

#contact {
    color: #333;
}

#contact .line {
    background-color: #333;
}

label {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
}

input,
textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(202, 202, 202);
}

textarea {
    min-height: 150px;
}

button {
    background-color: hsl(168deg 76% 42%);
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    border-color: transparent;
}

/* FOOTER  */

footer {
    background-color: #3A546D;
}

.copyright {
    background-color: #2C3E50;
}

.icon {
    font-size: 1.5rem;
    border: 1px solid white;
    padding: 15px;
    border-radius: 50%;
}